body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padTopCategorySave {
	margin-top: 23px !important;
}
.padTopCategoryAppSave {
	margin-top: 21px !important;
}
.point-cursor {
	cursor:pointer;
}
.dropdown-container a {
	padding-left: 50px;
}
.dropdown-container-new a {
	padding-left: 50px;
}
.dateInput {
	width: 250px;
    height: 33px;
	padding: 5px;
    box-shadow: none !important;
}
.fright {
	float: right;
}
.frmInput {
	width:50% !important;
	display: inline !important;
}
.frmInput {
	width:50% !important;
	display: inline !important;
}
input[type="file"] {
	border:1px solid #C0C0C0;
	padding: 3px;
}
.frmInput[type="checkbox"] {
	height:12px !important;
}
.checkboxMargin {
	margin: -15px 0 0 !important;
}
.labelAppointment {
	margin-left: 15px;
}
.hrefCategory {
	margin-top: 30px !important;
	margin-right: 10px;
}
.hrefCategoryFacility {
	margin-top: 7px !important;
	margin-right: 10px;
}
.cRed {
	color: red;
	font-style: italic;
}
.cBlack {
	color: black;
}
.assignedNames {
	padding-top: 8px;
    font-weight: 700;
}
.padErrorBG {
	color: #FFF;
	background-color: red;
	padding: 5px;
}
.updateNote {
	color: red;
	cursor: pointer;
	font-weight: 600;
	font-style: Italic;
}
th {
	padding: 5px;
}
.margin15 {
	margin-left: 15px;
}
.side_txt {
	color: #FFF !important;
}
.questionInput {
	width: 100%;
}
.txtBold {
	font-weight: bold;
}
.quesMarginLeft {
	margin-left: -30px;
}
li.active {
	font-size: 16px !important;
}
tbody + thead{
  display: none;
}
.slotVal {
	font-weight: bold;
	background: beige;
	cursor: pointer;
	margin: 17px;
	border: 1px solid lightblue;
}
.btClickedNot {
	background: brown;
	color: #FFF;
}
.checkboxMargin {
	width: 20px;
	height: 20px;
	display: inline;
}
.txtCheckbox {
	margin-left:10px;
}
.bgAlice {
	background-color: #F0F8FF;
	margin: -5px 15px 5px 15px;
	padding-top: 20px;
}
.mTop {
	margin-top: 20px;
}

.flex-container {
	display: flex;
	border: 1px solid green;
	justify-content: space-between;
	padding: 5px;
	margin-top: 10px;
  }
  
  .flex-item {
	margin: 5px;
  }
  
  .flex-item:first-child {
	/* background-color: aqua; */
	flex: 2;
  }
  
  .flex-item:nth-child(2) {
	/* background-color: blueviolet; */
	flex: 1;
  }
  
  .flex-item:last-child {
	background-color: beige;
	flex: 1;
	flex-direction: column;
	overflow-y: scroll;
  }
  
  #remote-media video {
	width: inherit;
	height: 200px;
  }